
body {
  font-family: 'Lato', sans-serif;
  background-color: #e5e5e5;
  color: #fffeff;
}
a:focus, a:hover {
    text-decoration: none;
}

/*Header*/
.header-section{
  background-image: url("../img/bgnav.png");
  height: auto;
}
.logo{
  padding: 10px 0px 10px 0px;
}

.icons{
  float: right;
  display: inline-flex;
  padding: 10px 0px 10px 0px;
  align-items: center;

}

.white{
  color: #fffeff;
}
.nav>li>a:focus, .nav>li>a:hover {
    background-color: transparent;
}
@media (max-width: 768px){
  .navbar-header {
    float: left;
  }
}

/*Home*/
.home{
  position: relative;
}
.bg-home{
  width: 100%;
  height: auto;
}
.caption{
  position: absolute;
  top: 40%;
  left: 4%;
  line-height: normal;
}
.caption>hr{
  width: 7%;
  float: left;
  border-top: 3px solid #fffeff;
  margin-top: 10px;
  margin-bottom: 20px;

}
.caption>h1{
  font-weight: bold;
}
.caption>p{
  font-size: 22px;
  float: left;
}
.caption>p>strong{
  color: #FFC501;
  font-weight: 700;
}
@media (max-width: 1199px){
  .caption{
    top: 30%;
  }
  .caption>p{
    font-size: 20px;
  }
}
@media (max-width: 991px){
  .caption{
    top: 20%;
  }
  .caption>h1{
    font-size: 30px;
  }
  .caption>p{
    font-size: 18px;
  }
}
@media (max-width: 670px){
  .caption{
    top: 10%;
  }
  .caption>h1{
    font-size: 25px;
  }
  .caption>p{
    font-size: 13px;
  }
  .caption>hr{
    margin-top: 5px;
    margin-bottom: 15px;

  }
}
@media (max-width: 490px){
  .caption{
    top: 0%;
  }
  .caption>h1{
    font-size: 20px;
    margin-top: 10px;
  }
  .caption>p{
    font-size: 10px;
  }
  .caption>hr{
    margin-top: 1px;
    margin-bottom: 5px;
  }
}
/*courses*/
.courses{
  position: absolute;
  background-color: #FFFEFF;
  margin: 30px 0px;
  width: 100%;
  padding: 28px;
  border-radius: 5px;
  color: #515D6E;
}
.courses h4{
  font-weight: 400;

}
.filters{
  display: inline-flex;
  align-items: center;
  padding: 20px 0px;
}
.btn{
  background-color: inherit;
  padding: 0;
}
.btn .caret {
    margin-left: 25px;
    margin-right: 10px;
}

.suggested{
  font-weight: bold;
  color: #FF202C;
  padding: 5px 20px 5px 20px;
  border-right: 2px solid #EBE9EB;
  border-left: 2px solid #EBE9EB;
}
.sort{
  padding: 5px 20px 5px 20px;
  border-right: 2px solid #EBE9EB;
  color: #515D6E;
  height: 30px;
}
.list{
  padding: 5px 20px 5px 20px;
  color: #515D6E;
  height: 30px;
}
.icons-filter{
  color: #515D6E;
  font-weight: 600;
}
.images{
    padding-top: 20px;
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}
.course{
  border-radius: 5px;
  width: 100%;
  text-decoration: none;
  box-shadow: 1px 1px 10px grey;
  margin: 20px 0px;
}
.more-icon{
  position: absolute;
}
.content{
  color: #515D6E;
  padding: 20px;
}
.content>h5{
  margin-bottom: 15px;
  font-size: 12px;
}
.content>h6{
  line-height: 0.7;
  font-weight: 300;
}
.icons-course{
  display: flex;
  padding: 10px 5px 10px 5px;
  align-items: center;
  justify-content: space-around;
}
.face-icon{
  font-size: 14px;
  color: #515D6E;
  position: relative;
  top: 3px;

}
.icons-course{
  font-size: 12px;
  color: #515D6E;
}
